page-login {
    .background_default{margin: 0 auto; display: block;}
    .default_height{margin-top: 100px;}
   .page_btn{font-size: 20px;   width: 100%; margin: 0 auto; display: block;  height: 45px; }
   .input_section{  border: none!important; margin-bottom: 20px;
    border-radius: 5px; height: 45px;}
    .forget_password{ text-align: center;color: #fff;text-decoration: underline;}
    .left-border{border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
    .right-border{border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
    .user-role-row{margin-bottom: 20px;}
}
