<ion-content padding style="background-image:url('assets/imgs/background.png');  background-position: center; background-repeat: no-repeat; background-size: cover;">
  <img  width="80" height="80" src="assets/imgs/logo.png" class="background_default">
  <div class="spacing_the_button">
      <button ion-button color="greenpurpal" round   class="page_btn  login_btn"
       (click)="gotoLoginPage()">Login</button>
      <span class="text_block">or</span>
      <button ion-button color="purpal" round  class="page_btn  signup_btn " (click)="gotoSignUpPage()">Signup</button>
  </div>
  <br><br><br>
  <h2>{{ msg }}</h2>
  <button ion-button block round (click)="getCurrentLocation()">Get Current lat and long</button>
    <ion-list *ngIf="latlongArr.length > 0">
      <ion-item *ngFor="let latlong of latlongArr">
        {{ 'lat: '+latlong.lat+' and long: '+latlong.long }}
      </ion-item>
    </ion-list>  
</ion-content>
