page-verification {
    .background_default{margin: 0 auto; display: block;}
    .default_height{margin-top: 100px;}
   .page_btn{font-size: 20px;   width: 100%; margin: 0 auto; display: block;  height: 45px; }
   .input_section{  border: none!important; margin-bottom: 20px;
    border-radius: 5px; height: 45px;}
    .list-ios .item-block .item-inner{border: none!important;}
}
