page-employer {
    .background_default{margin: 0 auto; display: block;}
    .default_height{margin-top: 20px; margin-bottom: -6px;padding-bottom: 0px;}
    .heading_text{margin-top: 20px;}
    .page_btn{font-size: 20px;   width: 100%!important; margin: 0 auto; display: block;  height: 45px; }
    .input_section{  border: none!important; margin-bottom: 20px; border-radius: 5px; height: 45px;}
    .heading_text{ margin-top: 16px; display: block; text-align: center; color: #fff; }
}
